.lead__subtitle {
    width: 69%;
    text-align: center;
    font-size: 30px;
    line-height: 1.2;
    margin: 32px auto 57px;
}

@media (max-width: 760px) {
    .lead__subtitle {
        width: 85%;
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 1.25;
    }
}
