@import url("./__title/cover__title.css");
@import url("./__subtitlle/cover__subtitle.css");
@import url("./__overlay/cover__overlay.css");
.cover {
    margin: auto;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1184px;
    height: calc(0.625*100vw);
    max-height: 740px;
    background-image: url("../../images/cover-trains.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.cover:hover {
    cursor: url('../../images/pointer.png'), auto;
}
