.place__link {
    font-size: 18px;
    line-height: 1.22;
    text-decoration: underline;
    color: white;
}

.place__link:hover {
    cursor: url('../../../images/pointer.png'), auto;
    opacity: 0.8;
}
